
.container {
    @apply inset-x-0;
  }
  .cattitle {
    @apply text-[#53c28b];
  }
  .item {
    @apply flex gap-[50px] mt-0 mb-[50px];
  }
  .item:nth-child(2n + 1) {
    @apply flex-row-reverse;
  }
  .imgcontainer {
    @apply flex-1 h-[500px] relative mb-[100px] right-[30px] top-2.5;
  }
  .img {
    @apply object-cover top-2.5;
  }
  .content {
    @apply flex-1 flex flex-col gap-5 justify-center;
  }
  .title {
    @apply text-[50px];
  }
  .description {
    @apply text-xl;
  }
  


/* ------------------------------------------------------------------------------------------------
    .container {
    left: 0px;
    right: 0px;
}

.cattitle {
    color: #53c28b;
}

.item {
    display: flex;
    gap: 50px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.item:nth-child(2n+1) {
    flex-direction: row-reverse;
}

.imgcontainer {
    flex: 1;
    height: 500px;
    position: relative;
    top: 10px;
    right: 30px;
    margin-bottom: 100px;
}

.img {
    top: 10px;
    object-fit: cover;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.title {
    font-size: 50px;
}

.description {
    font-size: 20px;
} */