.container {
    @apply h-[100px] flex justify-between px-[30px];
  }
  .logo {
    @apply flex items-center font-[bold] text-[22px];
  }
  .links {
    @apply flex items-center gap-5 text-[17px];
  }
  .logout {
    @apply text-[17px] bg-[#53c28b] text-[white] cursor-pointer p-[5px] rounded-[3px] border-[none];
  }
  

/* -------------------------------------------------------------------------------------------------------------
    .container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 17px;
}

.logout {
    font-size: 17px;
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
} */