.container {
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}

.social {
    display: flex;
    align-items: center;
    gap: 30px;
}

.icon {
    opacity: 0.6;
    cursor: pointer;
    border-radius: 50%;
}