
.title {
    @apply mx-0 my-5;
  }
  .maintitle {
    @apply text-[70px];
  }
  .item {
    @apply flex gap-[50px];
  }
  .link {
    @apply w-[280px] h-[310px] relative bg-cover rounded-[5px] border-[5px] border-solid border-[grey];
  }
  .link:nth-child(1) {
    background: url("/firstchild.avif");
  }
  .link:nth-child(2) {
    background: url("/secondchild.avif");
  }
  .link:nth-child(3) {
    background: url("/thirdchild.jpg");
  }
  .project_title {
    @apply absolute text-[40px] font-[bold] right-2.5 bottom-2.5;
  }
  .link:hover .project_title {
    @apply text-[#53b28c];
  }


/* ------------------------------------------------------------------------------------------------ 
.title {
    margin: 20px 0px;
}

.maintitle {
    font-size: 70px;
}

.item {
    display: flex;
    gap: 50px;
}

.link {
    border: 5px solid grey;
    border-radius: 5px;
    width: 280px;
    height: 310px;
    position: relative;
    background-size: cover !important;
}

.link:nth-child(1) {
    background: url("/firstchild.avif");
}

.link:nth-child(2) {
    background: url("/secondchild.avif");
} 

.link:nth-child(3) {
    background: url("/thirdchild.jpg");
}

.project_title {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}

.link:hover .project_title {
    color: #53b28c;
} */